<aside class="pa-layout__sidebar">
    <nav class="pa-sidebar__nav">
        <ul>
            <li class="pa-sidebar__item"><a href="/" class="pa-sidebar__link {{#isDashboard}}pa-sidebar__link--active{{/isDashboard}}">
                <span class="pa-sidebar__icon">📊</span>
                <span class="pa-sidebar__label">Dashboard</span>
            </a></li>

            <li class="pa-sidebar__item"><a href="/forms" class="pa-sidebar__link {{#isForms}}pa-sidebar__link--active{{/isForms}}">
                <span class="pa-sidebar__icon">📝</span>
                <span class="pa-sidebar__label">Forms</span>
            </a></li>

            <li class="pa-sidebar__item">
                <button class="pa-sidebar__toggle" onclick="toggleSubmenu(this)">
                    <span class="pa-sidebar__icon">🧩</span>
                    <span class="pa-sidebar__label">Components</span>
                    <span class="pa-sidebar__chevron">›</span>
                </button>
                <ul class="pa-sidebar__submenu">
                    <li class="pa-sidebar__item"><a href="/buttons" class="pa-sidebar__link {{#isButtons}}pa-sidebar__link--active{{/isButtons}}">
                        <span class="pa-sidebar__icon">🔘</span>
                        <span class="pa-sidebar__label">Buttons</span>
                    </a></li>
                    <li class="pa-sidebar__item"><a href="/cards" class="pa-sidebar__link {{#isCards}}pa-sidebar__link--active{{/isCards}}">
                        <span class="pa-sidebar__icon">🃏</span>
                        <span class="pa-sidebar__label">Cards</span>
                    </a></li>
                </ul>
            </li>

            <li class="pa-sidebar__item"><a href="/tables" class="pa-sidebar__link {{#isTables}}pa-sidebar__link--active{{/isTables}}">
                <span class="pa-sidebar__icon">📊</span>
                <span class="pa-sidebar__label">Tables</span>
            </a></li>
        </ul>
    </nav>
</aside>
